.rotate-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

:host ::ng-deep .details-sidebar {
    margin: 0;
    height: 100vh !important;
    max-height: 100vh !important;
}

:host ::ng-deep .details-sidebar .p-dialog-content {
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.rotate-45 {
    transform: rotate(45deg);
} 