<div class="details-sidebar">
  <p-panel [toggleable]="true" [collapsed]="false">
    <ng-template pTemplate="header">
      <div class="panel-header">
        {{ 'SIDEBAR.TITLE' | translate }}
      </div>
    </ng-template>
    
    <ng-container *ngIf="selectedFeature; else noSelection">
      <div class="feature-details">
        <h3>{{ getFeatureProperties()?.name || 'Unbenanntes Projekt' }}</h3>
        
        <div class="details-content" *ngIf="getFeatureProperties() as props">
          <div class="detail-item" *ngIf="props.description">
            <label>{{ 'SIDEBAR.DESCRIPTION' | translate }}</label>
            <p>{{ props.description }}</p>
          </div>
          
          <div class="detail-item" *ngIf="props.status">
            <label>{{ 'SIDEBAR.STATUS' | translate }}</label>
            <p>{{ props.status }}</p>
          </div>
          
          <!-- Weitere Eigenschaften hier hinzufügen -->
        </div>
      </div>
    </ng-container>
    
    <ng-template #noSelection>
      <div class="no-selection-info">
        <p>{{ 'SIDEBAR.NO_SELECTION' | translate }}</p>
        <p class="helper-text">{{ 'SIDEBAR.CLICK_HINT' | translate }}</p>
      </div>
    </ng-template>
  </p-panel>
</div>