<div class="map-container">
    <div id="map" class="map-container"></div>
    <div id="tooltip" class="tooltip"></div>
    <div class="custom-zoom-controls">
        <button pButton icon="pi pi-plus" (click)="zoomIn()" [pTooltip]="'MAP.CONTROLS.ZOOM_IN' | translate"></button>
        <button pButton icon="pi pi-minus" (click)="zoomOut()" [pTooltip]="'MAP.CONTROLS.ZOOM_OUT' | translate"></button>
    </div>
    <app-visualization-overlay></app-visualization-overlay>
    <app-legend></app-legend>
</div>
