<div class="dashboard-wrapper">
  <div class="dashboard">
    <!-- Header Row -->
    <header class="header-logo">
      <ng-content select="[logoHeader]"></ng-content>
    </header>
    <header class="header-title">
      <ng-content select="[titleHeader]"></ng-content>
    </header>

    <!-- Main Content Area -->
    <aside class="rail-left">
      <ng-content select="[iconSidebar]"></ng-content>
    </aside>

    <aside class="panel-left">
      <ng-content select="[filterSidebar]"></ng-content>
    </aside>

    <main class="map">
      <ng-content></ng-content>
    </main>

    <aside class="panel-right">
      <div class="panel-right-top">
        <ng-content select="[topListen]"></ng-content>
      </div>
      <div class="panel-right-bottom">
        <ng-content select="[analyze]"></ng-content>
      </div>
    </aside>

    <footer class="bar-bottom">
      <ng-content select="[footer]"></ng-content>
    </footer>
  </div>
</div>
