<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <button mat-icon-button (click)="addItem()" title="Add Widget">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <gridster [options]="options">
    <gridster-item *ngFor="let item of dashboard" [item]="item">
      <mat-card class="widget-card">
        <mat-card-header>
          <mat-card-title>Widget {{ item['id'] }}</mat-card-title>
          <button 
            mat-icon-button 
            (click)="removeItem($event, item)" 
            class="widget-remove-button">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <p>Widget content will go here</p>
          <p>ID: {{ item['id'] }}</p>
          <p>Position: x={{ item.x }}, y={{ item.y }}</p>
          <p>Size: {{ item['cols'] }}x{{ item['rows'] }}</p>
        </mat-card-content>
      </mat-card>
    </gridster-item>
  </gridster>
</div>
